* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darksalmon;
    font-size: 18px;
}

.accordion {
    margin: 50px auto;
    width: 800px;
}

.accordion__block {}

.accordion__title {
    font-size: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: gray;
    cursor: pointer;
    user-select: none;
    border: 1px solid black;
}

.accordion__text {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: lightgray;
}

.hidden {
    display: none;
}